
@{
    ViewBag.Title = "OrderWithID";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Bạn có thể đặt hàng ngay , chúng tôi đã có thông tin của bạn ^^ .</h2>
@using (Html.BeginForm())
{ 
    @Html.ValidationSummary(true)
    <input style="width:20%;margin-left:40%;height:30px;box-shadow:2px 2px 2px 2px black;background-color:#ff195f;border-radius:15px;font-family:benxuan;color:white;font-size:25px" type="submit" value="Đặt hàng ngay" />
}

