
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2>Đặt hàng thành công</h2>
<style>
    div.message {
        width: 50%;
        height:200px;
        margin-left: 25%;
        margin-top: 200px;
        text-align:center;
    }

        div.message p {
            font-family: 'UVN Ben Xuan';
            font-size: 100px;
            color: white;
            box-shadow: 2px 2px 2px 2px #ff195f;
        }
</style>
<div class="message"><p>Cảm ơn bạn đã sử dụng dịch vụ</p></div>