
/*View liên lạc*/
.lienlac {
    width: 100%;
}
    .lienlac div#title{
            margin-top:30px;
        }
            .lienlac div#title p{
                font-family: benxuan;
                font-size: 40px;
                text-align: center;
                color:#ff195f;
            }
    .lienlac div#moreinfo {
        width:60%;
        margin-left:20%;
        margin-top:30px;
        text-align:center;

    }
        .lienlac div#moreinfo p {
            font-family:'Times New Roman';
            font-size:20px;
            color:#ff195f;
        }
.moreinfo-item {
}
.moreinfo-item:hover {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
}
div#google-map-api {
    margin-left:20%;
}


/*View sản phẩm*/


.menu-monan {
    width:96%;
    margin-left:2%;
    margin-top:130px;
}
    .menu-monan .monan {
        float:left;
        width:31%;
        margin-left:1%;
        margin-right:1%;
        margin-bottom:30px;
    }
        .menu-monan .monan img {
            width:100%;
            margin-bottom:5px;
            border-radius:30px;
            box-shadow:1px 2px 1px 2px black;
        }
        .menu-monan .monan div#name {
            font-family:benxuan;
            font-size:30px;
            color:white;
            text-align:center;
        }
        .menu-monan .monan div#price {
            font-family:'Times New Roman';
            font-size:20px;
            color:#ff195f;
            text-align:center;

        }
        .menu-monan .monan div#desc {
            height:100px;
            font-family:'Times New Roman';
            font-size:18px;
            color:white;
            text-align:center;
        }
        .menu-monan .monan div#btn {
        }
        .menu-monan .monan div#btn img {
            max-width:50px;
            min-width:24px;

        }
            .menu-monan .monan div#btn img:hover {
                filter: grayscale(50%);
                animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                -webkit-animation-name: spin;
                -webkit-animation-duration: 500ms;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                -moz-animation-name: spin;
                -moz-animation-duration: 500ms;
                -moz-animation-iteration-count: infinite;
                -moz-animation-timing-function: linear;
                -ms-animation-name: spin;
                -ms-animation-duration: 500ms;
                -ms-animation-iteration-count: infinite;
                -ms-animation-timing-function: linear;
            }
            .menu-monan .monan div#btn a#pay {
                width:20%;
                margin-left:28%;
                margin-right:2%;
            }
            .menu-monan .monan div#btn a#cart {
                width:20%;
                margin-left:2%;
                margin-right:28%;
            }










.register-form {
    width:100%;
    margin-top:130px;
    text-align:center;
}
    .register-form div.inputcontrol input{
        width:240px;
        height:30px;
        border-radius:10px;
        opacity:0.5;
    }
    .register-form div.inputcontrol input:hover{
        transition:0.6s;
        box-shadow:1px 1px 1px 1px #ff195f;
        opacity:1.0;
    }
    .register-form table.register-form-table {
        width:80%;
        margin-left:20%;
        font-family:benxuan;
        color:white;
        font-size:25px;
    }
    .register-form div.register-hd {
        color:#ff195f;
        font-family:benxuan;
        font-size:25px;
    }
        


table.cart {
        width:70%;
        margin-left:15%;
    }



    table.paynow {
            width: 50%;
            margin-left: 12.5%;
            text-align:left;
            margin-top:120px;
        }

    table.paynow td input {
        width: 100%;
        margin-left: 0;
        text-align:left;
    }

    table.paynow td p {
        width: 100%;
        margin-right: 0;
    }

    table.paynow td#hd {
        text-align:right;
    }
@media screen and (min-width:120px) and (max-width:549px) {
    .lienlac {
        width: 100%;
    }
            div#google-map-api {
                margin-left:0px;
            }
            div#google-map-api iframe{
                width:100%;
                height:500px;
            }
        table.cart {
        width:98%;
        margin-left:1%;
    }

        .menu-monan .monan {
        float:left;
        width:90%;
        margin-left:5%;
        margin-right:1%;
        margin-bottom:30px;
    }
}



@media screen and (min-width:550px) and (max-width:799px) {
    .lienlac {
        width: 100%;
    }
            div#google-map-api {
                margin-left:0px;
            }
            div#google-map-api iframe{
                width:100%;
                height:500px;
            }
        table.cart {
        width:98%;
        margin-left:1%;
    }

        .menu-monan .monan {
        float:left;
        width:48%;
        margin-left:1%;
        margin-right:1%;
        margin-bottom:30px;
    }
}

@media screen and (min-width:800px) and (max-width:1280px) {
    .lienlac {
        width: 100%;
    }
            div#google-map-api {
                margin-left:0px;
            }
            div#google-map-api iframe{
                width:100%;
                height:500px;
            }
    table.cart {
        width:98%;
        margin-left:1%;
    }
}





































@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}