
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Ẩm thực đường phố - 110 Hàm Nghi</h2>
<p>
    Nếu có dịp dạo trên đường phố Sài Gòn , thì hẳn bạn sẽ không lạ gì với những hàng quán bên lề chạy dọc khắp những con đường ở đây. Đó không chỉ là nhưng nơi ăn uống của số đông con người lao động và học sinh ,sinh viên , dân văn phòng mà còn đại diện cho bộ mặt của ẩm thực đường phố ở Việt Nam . Với những địa hình buôn bán khắp mọi nơi và chủ yếu là lề quán , hay trong hẻm nhỏ , thì chúng ta sẽ không phải qua lo về mặt giá cả của món ăn , mà vẫn có thể thưởng thức được những bữa ăn chất lượng và đầy đủ dinh dưỡng .
</p>

<p>
    Dù vậy thì vấn đề quan trọng có lẽ vẫn là an toàn vệ sinh thực phẩm , vì món ăn tốt không chỉ phải ngon và đẹp mắt mà còn phải sạch sẽ .
    Đến với 110 Hàm Nghi bạn sẽ được trải nghiệm những món ăn hết sức truyền thống , bạn có thể dùng chung với cơm trắng hoặc ăn như món ăn vặt . Và dĩ nhiên là thức ăn của chúng tôi được chế biến theo quy trình hợp với quy chuẩn của cục vệ sinh thực phẩm và đạt chuẩn an toàn vệ sinh thực phẩm của bộ y tế chứng nhận .
    Bạn sẽ không phải lo về giá cả hay chất lượng vệ sinh của món ăn , và chỉ cần yên tâm thưởng thức món ăn mà mình thích tại 110 Hàm Nghi.
</p>
<!--facebook api-->
<div data-toggle="1" class="wrap" style="position: fixed; width: 270px; height: 410px; bottom: 0px; right: 320px; background-color: #792b43;">
    <span class="x" style="">Ẩn</span>
    <div class="fb-page" data-adapt-container-width="true" data-height="325" data-hide-cover="false" data-href="https://www.facebook.com/C%C6%A1m-t%E1%BA%A5m-110-H%C3%A0m-Nghi-1601558393474310/" data-show-facepile="true" data-show-posts="false" data-small-header="false" data-tabs="messages" data-width="250" style="width:250px;height:325px;position:fixed;z-index:999; right:330px;bottom:40px"></div>
    <p class="pxem">
        <a class="axem" style="" href="https://www.facebook.com/C%C6%A1m-t%E1%BA%A5m-110-H%C3%A0m-Nghi-1601558393474310/" target="_blank">Di chuyển đến fanpage</a>
    </p>
</div>
<div class="mnv-tuvan" style="width: 270px; margin-right: 320px; "><p><a>Chat với 110HàmNghi ^^</a></p></div>
