
@{
    ViewBag.Title = "LienLac";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="lienlac">
    <div id="title"><p>Đường đi đến quán</p></div>
    <div id="google-map-api">
        <iframe width="600" height="450" frameborder="0" style="border: 0; border-radius: 15px; box-shadow: 1px 2px 1px 2px black;" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJVWeK4EAvdTER1f1iHOUjsKA&key=AIzaSyAJEG9jezR_df2_llg4Yf1C3ggsMaF_3dM" allowfullscreen></iframe>
    </div>
    <div id="moreinfo">
        <div class="moreinfo-item" id="sdt"><p style="color:#fff;">Số điện thoại : </p><p>0128 5499 521</p></div>
        <div class="moreinfo-item" id="email"><p style="color:#fff;">Email : </p><p>xsensevwx@gmail.com</p></div>
        <div class="moreinfo-item" id="fbfp"><p style="color:#fff;">Facebook : </p><a href="https://www.facebook.com/C%C6%A1m-t%E1%BA%A5m-110-H%C3%A0m-Nghi-1601558393474310/"><p>Cơm tấm 110 Hàm Nghi</p></a></div>
    </div>
</div>

