    <script>
        $(document).ready(function () {
            setTimeout(
              function () {
                  window.location.href = "@Url.Action("Index","AmThucHamNghi")";
              }, 3000);
        });
    </script>
    <style>
        .loadingImg {
            width:100%;
            height:100%;
            left:0;
            top:0;
            position:fixed;
        }
    </style>
<link href="~/Content/loading.css" rel="stylesheet"/>
    <div class="loadingImg">
        <div class="cssload-container" style="height:70%;margin-top:25%;">
            <div class="cssload-circle-1">
                <div class="cssload-circle-2">
                    <div class="cssload-circle-3">
                        <div class="cssload-circle-4">
                            <div class="cssload-circle-5">
                                <div class="cssload-circle-6">
                                    <div class="cssload-circle-7">
                                        <div class="cssload-circle-8">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
