<div>@HttpContext.Current.Session["hoten"]</div>
<a style="padding: 0;margin-top:10px; width: 60%; margin-left: 20%; font-size: 25px; font-family: benxuan; text-align: center; text-decoration: none; color: white; box-shadow: 1px 1px 1px 1px black; background-color: #ff195f; border-radius: 15px; clear: both;" href="@Url.Action("XemThongTin","KhachHang")">Xem thông tin</a>
<a style="padding: 0; margin-top: 10px; width: 60%; margin-left: 20%; font-size: 25px; font-family: benxuan; text-align: center; text-decoration: none; color: white; box-shadow: 1px 1px 1px 1px black; background-color: #ff195f; border-radius: 15px; clear: both; " href="">Đổi mật khẩu</a>
<a style="padding: 0; margin-top: 10px; width: 60%; margin-left: 20%; font-size: 25px; font-family: benxuan; text-align: center; text-decoration: none; color: white; box-shadow: 1px 1px 1px 1px black; background-color: #ff195f; border-radius: 15px; clear: both;" href="@Url.Action("LogOut","KhachHang")">Đăng xuất</a>

